<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #tozih
        {
            font-size: medium;
            direction: rtl;
            font-family: cursive;
        }
    </style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>My First Django App</h1>
  <p>Caring About Environment</p> 
</div>
  
    <div class="container" id="tozih">
        <div class="row">
            <div class="col-sm-4">
                <h3>افراد</h3>
                <p>این اپ برای افرادی است که دغدغه محیط زیستی دارند و می خواهند از این راه کسب درآمد کنند</p>
            </div>
            <div class="col-sm-4">
                <h3>شرکت ها</h3>
                <p>همچنین شرکت ها می توانند زباله های تولید شده خود را اینجا به فروش برسانند و یا مواد بازیافتی مورد نیاز خود را خریداری کنند</p>
            </div>
            <div class="col-sm-4">
                <h3>شهرداری</h3>        
                <p>شهرداری ها می توانند در اینجا شرکت ها و افراد خاص را بشناسند و با ان ها قرارداد ببندند</p>
            </div>
    </div>
    </div><br><br><br>
    <div style="color:rgb(35, 145, 77);text-align:center;"> 
        <a class="btn btn-info" href="../index">عضویت</a><br><br>
        <a class="btn btn-info" href="../form">ورود</a>
    </div>
</body>
</html>
